apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "wellsfargo.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "MYSESSION"
spec:
  ingressClassName: nginx
  rules:
    - host: iiq.eigenbytes.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "wellsfargo.fullname" . }}
                port:
                  number: 8080